@keyframes move-background {
    0% {
        translate: 0 -15%;
        scale: 70%;
    }
    5% {
        translate: 20% -50%;
        scale: 130%;
    }
    10% {
        translate: 20% -50%;
        scale: 130%;
    }
    40% {
        translate: 10% 20%;
        scale: 110%;
    }
    45% {
        translate: -15% 20%;
        scale: 110%;
    }
    50% {
        translate: -15% 20%;
        scale: 110%;
    }
    80% {
        translate: -15% -70%;
        scale: 110%;
    }
    90% {
        translate: -15% -70%;
        scale: 110%;
    }
    95% {
        translate: 0 -15%;
        scale: 70%;
    }
    100% {
        translate: 0 -15%;
        scale: 70%;
    }
}

@keyframes coming-soon {
    from { rotate: 25deg; } 
    to { rotate: 30deg; }
}

.uiltje {
    scale: .5;
    transform-origin: center 0;
}

.park-container {
    perspective: 1000px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(115, 145, 115);
    background: linear-gradient(45deg, rgba(115, 145, 115, 1) 0%, rgba(157, 224, 157, 1) 100%);
    overflow: hidden;
    transition: all 1s;

    * {
        transition: all 1s;
    }

    padding-left: 400px;
}

.park {
    animation: move-background 31s ease-in-out infinite;
    /*translate: -15% -50%;*/
    /*scale: 120%;*/
    /*translate: -15% 0%;*/
    /*scale: 50%;*/

    transform-style: preserve-3d;
    transform: rotateX(10deg) rotateY(0deg) rotateZ(3deg);
    transition: all 1s;

    display: flex;
    gap: 100px;

    .path {
        background: gray;
        border-radius: 5px;

        &.vertical {
            rotate: 1deg;
            width: 50px;
            margin-left: -10px;
            margin-right: -10px;
        }

        &.horizontal {
            height: 40px;
            width: calc(80%);
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 210px;

            &.right {
                margin-left: -120px;
            }
        }
    }
    .coming-soon {
        animation: coming-soon infinite 3s linear;
        animation-direction: alternate-reverse;
        z-index: 1000;
        background: rgba(255, 255, 255, 0.4);
        position: absolute;
        rotate: 30deg;
        padding: 30px 50px;
        border: 3px dashed white;
        border-radius: 10px;
        color: white;
        font-size: 30pt;
        scale: 1.3;
        left: 100px;
        top: 200px;
    }

    .padel-courts {
        display: inline-block;
        position: relative;

        .court {
            position: absolute !important;
            display: inline-block;
            &:nth-child(2) {
                left: 250px;
                top: 0;
            }
            &:nth-child(3) {
                left: 410px;
                top: 240px;
            }
            &:nth-child(4) {
                left: 0;
                top: 400px;
            }
            &.empty {
                opacity: .5;
            }
        }
    }

    .courts {
        &.two {
            rotate: 3deg;
        }

        position: relative;
        transition: all 1s;
        display: flex;
        flex-direction: column;


        .court {
            border-radius: 10px;
            font-size: 10pt;
            width: 500px;
            height: 150px;
            display: flex;
            flex-direction: row;
            gap: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            background: rgb(255, 66, 23);
            color: white;
            margin-top: 5px;
            position: relative;

            &.empty {
                opacity: .5;
            }

            &.padel {
                background: rgb(16, 90, 255);
                width: 200px;
                height: 360px;

                &:nth-child(2n) {
                    width: 360px;
                    height: 200px;
                }
            }

            .category {
                padding-left: 20px;
                padding-bottom: 5px;
                top: 5px;
                width: 100%;
                font-weight: bold;
                position: absolute;
                border-bottom: 1px solid white;
            }

            .time {
                right: 20px;
                top: 5px;
                font-weight: bold;
                position: absolute;
            }

            .index {
                left: calc(50% - 20px);
                top: calc(50% - 20px);
                position: absolute;
                background: transparent;
                border: white 1px solid;
                border-radius: 100%;
                width: 40px;
                height: 40px;
                font-size: 25pt;
                color: white;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;

                &.large {
                    font-size: 20pt;
                }
            }

            .team {
                padding: 20px;
                flex: 1;
                width: 50%;
                align-content: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .player {
                    overflow: hidden;
                    font-size: 13pt;
                    text-overflow: ellipsis;
                }

                &.one {
                    /*border-right: 2px solid white;*/
                }
            }
        }
    }
}