nav {
    display: none !important;
}

.background {
    background: linear-gradient(45deg, rgba(115, 145, 115, 1) 0%, rgba(157, 224, 157, 1) 100%);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

body,html {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    
    transition: margin-top 30s linear;
    overflow: hidden;
    
    &.scrolling {
        margin-top: -100%;
    }

    .match {
        background: rgba(255, 255, 255, 0.85);
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        border-radius: 10px;
        border: 2px solid #8B938B;
        box-shadow: rgba(96, 96, 96, 0.31) 3px 3px;
        position: relative;
        height: 170px;

        .info {
            display: flex;
            flex-direction: row;
        }

        .players {
            display: flex;

            .separator {
                background: #9b9b9b;
                width: 1px;
                margin: 0 15px;
            }

            .party {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;

                &.winner {
                    font-weight: bold;
                }

                &:first-child {
                    text-align: right;
                }
            }
        }

        .outcome {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: row;

            .score {
                display: flex;
                border-radius: 5px;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: row;
                background: white;
                gap: 20px;
                padding: 3px 10px;
                font-size: 14pt;
                
                .won {
                    font-weight: bold;
                }
            }
            .specialReason {
                background: orange;
                padding: 2px 10px;
                border-radius: 5px;
            }
        }

    }

}