
.title {
    background: white;
    position: absolute;
    top: -5px;
    right: 0;
    left: -5px;
    z-index: 1;
    border-bottom: 5px solid #096400;
    padding: 10px 40px;
    display: flex;

    .progress {
        &.long {
            transition: width 60s linear;
        }
        &.short {
            transition: width 30s linear;
        }
        &.superShort {
            transition: width 15s linear;
        }
        background: #b1ffb1;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        border-radius: 0;
        z-index: -1;

        &.scrolling {
            width: 100%;
        }
    }
}